.paths
bin/ounit
*.cache
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
src/automata/parser/tcsautomatalexer.ml
src/automata/parser/tcsautoparser.ml
src/automata/parser/tcsautoparser.mli
src/automata/parser/tcsltslexer.ml
src/automata/parser/tcsltsparser.ml
src/automata/parser/tcsltsparser.mli
src/automata/parser/tcsparitygamelexer.ml
src/automata/parser/tcsparitygameparser.ml
src/automata/parser/tcsparitygameparser.mli
src/automata/parser/tcsparitysolutionlexer.ml
src/automata/parser/tcsparitysolutionparser.ml
src/automata/parser/tcsparitysolutionparser.mli
src/automata/parser/tcstslexer.ml
src/automata/parser/tcstsparser.ml
src/automata/parser/tcstsparser.mli
